* {
    margin: 0;
    padding: 0;
    border-radius: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    font-size: .99rem;
}
body{
    margin-left: 1.7%;
    background-color: #F0F3F4;
    
}
.overflow_hidden{
    overflow: hidden;
}

.whole_page{
    display: flex;

}
.sideBar{
    position: sticky;
    top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #042B8C;
    height: 49rem;
    margin-right: 1.7%;
    width: 15rem;
    overflow-x: hidden;

}
.close_part{
    display: none;
    
}
.close_part i{
    font-size: 1.5rem;
}
.close_part span{
    color: white;
}
.sideBar.on_mobile{
    width: 15rem;
    z-index: 10;
}

.sideBar p{
    color: white;
    letter-spacing: .05rem;
}
.right_side{
    display: flex;
    flex-direction: column;
    margin-right: 1.7%;
}   

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 3.5rem;
    padding: 0 1.2%;
}
.header{
    position: sticky;
    top: 0;
    height: 5.5rem;
    background-color: #F0F3F4;
    align-content: center;
    border-radius: 0;
}

.header_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left i{
    display: none;
    color: #042B8C;
    font-size: 1.5rem;
}
.header_right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_word{
    font-size: 1.25rem;
    color: #042B8C;
    font-weight:900;
    letter-spacing: .05rem;
}
.notifications{
    width: 1.5rem;
    height: 1.5rem;
}
.profil_picture{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1.5rem;
}
.person{
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #042B8C;
}
.settings{
    display: flex;
    align-items: center;
}
.settings i{
    font-size: 1.5rem;
}
.main_part{
    display: flex;
    flex-wrap: wrap;
   

}
.left_main{
    margin-right: 1.7%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right_main{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.personal_info{
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
}
.aliyeva{
    padding-left: 2rem;
    color: #042B8C;
}
.aliyeva h2{
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: .05rem;
}
.personal_head{
    display: flex;
    align-items: center;
}
.personal_head img{
    width: 5rem;
    height: 5rem;
}
.personal_body{
    display: flex;
    justify-content: space-between;
    padding-right: 4rem;
}
.personal_subtitles{
    margin-top: 0.75rem;
    color: #C7C7C7;

}
.contacts{
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
}
.contacts_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts_head i{
    color: #042B8C;
    font-size: 1.5rem;
    margin: 0;
}

.contacts_body{
    display: flex;
}
.contacts_left_body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}
.contacts_right_body{
    width: 28%;
    margin-left: 3rem;
}
.contacts_part{
    margin-top: 1rem;
}
.contacts_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts_data img{
    font: 2rem;
}
.contacts_subtitle{
    color: #C7C7C7;
}
.closed{
    background-color: white;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    
}
.section_title{
    color: #042B8C;
    font-size: 1.3rem;
    font-weight: 590;
}
.closed i{
    color: #042B8C;
    margin: 0;
    font-size: 1.5rem;
}
.other_info{
    height: 8rem;
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
}
.knowledge{
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;

}
.languages{
    background-color: white;
    margin-bottom: 1rem;
}

.action_list{
    list-style-type: none;
    text-align: center;
    border-radius: 0;
    width: 100%;
    height: 25rem;
}
li{
    color: white;
    font-size: 1.1rem;
    letter-spacing: .05rem;
    line-height: 2.2rem;
    border-radius: 0;
}

.selected_list{
    background-color: white;
    color: #042B8C;
}
.selected_list i{
    margin-right: 0.5rem;
    color: #042B8C;
}
.sub_list{
    margin-left: 1.2rem;
    list-style-type: none;
    border-radius: 0;
}
.sub_list li{
    font-size: 1rem;
    color: #C7C7C7;
}
i{
    margin-right: 0.5rem;
    color: white;
}

.description{
    margin-top: .6rem;
}
.add_knowledge{
    padding: 0.5rem .75rem;
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-between;
    background-color: #F0F3F4;
}
.add_knowledge i{
    color: #042B8C;
    font-size: 1.5rem;
    margin: 0;
    width: 10%;
    text-align: center;
}

.added_know{
    padding: 0.5rem .75rem;
    display: flex;
    justify-content: space-between;
}
.added_know i{
    color: #042B8C;
    font-size: 1.5rem;
    width: 10%;
    margin: 0;
    text-align: center;
}
.knowledge_name{
    width: 35%;
}
.knowledge_level{
    width: 20%;
    text-align: center;
}

.knowledge_module{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    background-color:white;
}
.module_header{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.module_header h1{
    color: #042B8C;
    font-size: 1.5rem;
}
.module_header i{
    color: black;
    font-size: 2rem;
    margin: 0;
}
.module_title{
    margin-top: 1rem;
}

.knowledge_module input{
    width: 22rem;
    height: 3.5rem;
    border: none;
    background-color: #F0F3F4;
}
.knowledge_module button{
    margin-top: 1rem;
    background-color: #042B8C;
    border: none;
    width: 22rem;
    height: 3.5rem;
    color: white;
}

/* .module_background.visible {
    display: flex;
    background-color: rgba(45, 46, 46, 0.7)
}

.module_background{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
} */

::backdrop {
    background-image: linear-gradient(
      45deg,
      black,
      black,
      black,
      black
    );
    opacity: 0.5;
  }

dialog{
    position: absolute;
    top: 17rem;
    left: 36rem;
}



@media (max-width : 1000px) {
    .main_part {
        flex-direction: column;
    }

    .header_left i{
        display: block;
    }
    .sideBar{
        width: 0;
        margin: 0;
        position: absolute;
        left: 0;
        border-radius: 0;
    }
    .close_part{
        display: flex;
    }
    .left_main{
        margin-right: 0;
    }
}
